/CarvedRockPipelineSolution/.vs
/CarvedRockPipelineSolution/CarvedRock.Api/obj
/CarvedRockPipelineSolution/CarvedRock.Api/bin
/CarvedRockPipelineSolution/CarvedRock.Pipeline.Api/bin
/CarvedRockPipelineSolution/CarvedRock.Pipeline.Api/obj
